<div class="modal-header">
    <h4 class="modal-title">Edit Lead</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Editing <b>{{data.Name}}</b> :
    <br>
    Status :
    <select [(ngModel)]="data.Status">
        <option value="New">New</option>
        <option value="Contacted">Contacted</option>
        <option value="Qualified">Qualified</option>
        <option value="Lost">Lost</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Confirmed">Confirmed</option>
    </select>
    Note : <input [(ngModel)]="data.Note" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="passBack()">Save</button>
</div>